:host {
  display: flex;
  margin: 0 auto;
  font: 0.8rem Inconsolata, monospace;
  font-size: clamp(20px, 2vw, 22px);
}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.terminal-wrapper {
  color: black;
  width: clamp(200px, 100vw, 700px);
}

.terminal-header {
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  background-color: var(--main-text-color);
  border-radius: 10px 10px 0 0;
}

.terminal-body {
  background-color: rgb(7, 7, 7);
  border: 2px solid var(--grey);
  font-size: clamp(16px, 2vw, 22px);
  color: var(--grey);
  font-weight: 700;
  min-height: 400px;

  p {
    font-size: clamp(18px, 2vw, 20px);
    margin: 0;
    font-weight: 300;
  }
}

.not-found {
  font-size: clamp(52px, 4vw, 72px);
}

.end-tree:before, .indent-end-tree:before, .tree-branch:before, .indent-tree-branch:before {
  content: '├──';
  padding-left: 8px;
  width: 10px;
  height: 10px;
}

.indent-tree-branch:before, .indent-end-tree:before {
  content: '│     -     ├──';
}

.indent-end-tree:before {
  content: '│     -     └──';

}

.end-tree:before {
  content: '└──';
}


.cursor {
  align-items: flex-end;
}
.cursor:after {
  content: '';
  gap: 2px;

  width: 10px;
  height: 5px;
  display: inline-block;
  background-color: white;
  animation: blink 1s steps(2) infinite;
}
