<div class="flex column px-2 terminal-wrapper">
  <div class="flex terminal-header">
    <div class="flex align-center">
      <img class="terminal-icon" src="assets/images/panku-icon.png"/>
      <span class="pl-2">panku@kraken:~</span>
    </div>
    <div></div>
  </div>
  <div class="flex column terminal-body">
    <div class="p-1">
      <div *ngFor="let command of commands">
        <app-timestamp></app-timestamp>
        <div>
          <p class="pl-1">$ {{ command.command }}</p>

          <div *ngFor="let output of command.outputs" class="output">
            <p class="main">{{ output.text }}</p>
            <p *ngFor="let child of output.children" class="indented">
              {{ child.text }}
            </p>
          </div>
        </div>
      </div>
      <div *ngFor="let command of userCommands">
        <app-timestamp></app-timestamp>
        <div>
          <p class="pl-1">$ {{ command.command }}</p>

          <div *ngFor="let output of command.outputs" class="output">
            <p [ngClass]="{ main: command.indent }">{{ output.text }}</p>
            <p
              *ngFor="let child of output.children"
              [ngClass]="{ indented: command.indent }"
            >
              {{ child.text }}
            </p>
          </div>
        </div>
      </div>
      <app-timestamp></app-timestamp>
      <div class="flex">
        $<input
        (keyup.enter)="addInput($event)"
        autofocus
        class="flex pl-1 cursor gap-1"
        type="text"
      />
      </div>
    </div>
  </div>
</div>
