:host {
  display: flex;
  margin: 0 auto;
  font: 0.8rem Inconsolata, monospace;

}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.terminal-wrapper {
  color: black;
  width: clamp(200px, 100vw, 700px);
}

.terminal-header {
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  background-color: var(--text);
  border-radius: 10px 10px 0 0;
}

.terminal-body {
  background-color: rgb(7, 7, 7);
  border: 2px solid var(--grey);

  color: var(--grey);
  font-weight: 700;

  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  min-height: 400px;
  max-height: 500px;

  p {

    margin: 0;
    font-weight: 300;
  }
}

.not-found {
  font-size: clamp(52px, 4vw, 72px);
}

.main {
  white-space: pre;

  &:before {
    padding: 0 8px;
    content: '├──';
  }

  &:last-child {
    &:before {
      content: '└──';
    }
  }
}

.indented {
  white-space: pre;
  padding-left: 8px;

  &:before {
    content: '│   ├──';
  }

  &:last-child {
    &::before {
      content: '│   └──';
    }
  }
}

.cursor {
  align-items: flex-end;
}

.cursor:after {
  content: '';
  gap: 2px;

  width: 10px;
  height: 5px;
  display: inline-block;
  background-color: white;
  animation: blink 1s steps(2) infinite;
}

input {
  width: 80%;
  background: none;
  color: var(--grey);
  font: 0.8rem Inconsolata, monospace;
  font-size: clamp(20px, 2vw, 22px);
  border: none;
  font-weight: 300;

  &:focus {
    outline: none;
  }
}
