<div class="flex column justify-center">
  <h2>I love cats</h2>
  <div class="flex column gap">
    <span>I've had cats as pets my whole life.</span>
    <span>I also love taking photos of my cats!</span>
    <span>Check out my cat albums below.</span>
  </div>
</div>
<div class="flex gap justify-center">
  <a [routerLink]="['unagi']">
    <app-image-card asset="assets/cats/cat16.jpg">
      <h2 description>Unagi</h2>
      <span description>2019 - 2023</span>
    </app-image-card>
  </a>
  <a [routerLink]="['cat']">
    <app-image-card asset="assets/cats/cat2.jpg">
      <h2 description>Cat</h2>
      <span description>2016 - Present</span>
    </app-image-card>
  </a>
</div>
