:host {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  border-radius: 10px;
  background-color: var(--grey);
}

img {
  border-radius: 10px;
  height: 60vh;
  @media (max-width: 600px) {
    width: 100%;
    height: auto;
  }
}
