<div class="flex column px-2 terminal-wrapper">
  <div class="flex terminal-header">
    <div class="flex align-center">
      <img class="terminal-icon" src="assets/images/panku-icon.png"/>
      <span class="pl-2">panku@kraken:~</span>
    </div>
    <div></div>
  </div>
  <div class="flex column terminal-body">
    <div class="pl-1 pt-1">
      <div>
        <span class="terminal-blue-text">
          [
          <span class="terminal-red-text">{{ now }}</span>
          ]
        </span>
        <span class="terminal-blue-text pl-1">
          [
          <span class="terminal-red-text">panku@kraken:~</span>
          ]
        </span>
      </div>
      <div>
        <p class="pl-1">$ .{{ route }}</p>
        <p>panku.dev: command not found: .{{ route }}</p>
      </div>
      <div>
        <span class="terminal-blue-text">
          [
          <span class="terminal-red-text">{{ now }}</span>
          ]
        </span>
        <span class="terminal-blue-text pl-1">
          [
          <span class="terminal-red-text">panku@kraken:~</span>
          ]
        </span>
      </div>
      <div>
        <p class="flex pl-1 cursor gap-1">$</p>
      </div>
    </div>
    <div class="flex column align-center m-auto">
      <span class="not-found">404</span>
      <span class="faded-text">[this page doesn't exist]</span>
    </div>
  </div>
</div>
