<main class="flex home-wrapper w-full m-auto">
  <section class="flex w-full space-between about-me">
    <div class="flex column pt-2 gap">
      <div class="flex column">
        <h1 class="my-0 mb-2">
          The name's <span class="purple-text">Dylan</span>.
        </h1>
        <p>
          Heyo! I'm a full-stack<sup class="faded-text">TM</sup> developer for
          <span class="blue-text">MiTek</span><sup class="faded-text">USA</sup>.
        </p>
        <p>
          I current work with <span class="blush-text">Angular13</span> and
          <span class="blush-text">.Net6</span> creating microservices and pages
          to deliver business management software.
        </p>
        <p>
          Despite the struggles I love to code and enjoy learning new
          technology. If I didn't I wouldn't have swapped from
          <span class="pink-text">React</span> to
          <span class="blush-text">Angular</span> :).
        </p>
        <p>
          Interested in another site I made? Checkout the site I made for my
          Discord bot
          <a href="https://rolebot.gg" class="blush-text">RoleBot</a>.
        </p>
      </div>
      <app-socials></app-socials>
    </div>
    <div class="flex column">
      <div class="sticky-avatar pt-4">
        <img src="assets/images/me.jpg" alt="photo of me" />
        <div class="flex">
          <p>Dylan Warren <span class="faded-text">(That's me!)</span></p>
        </div>
      </div>
    </div>
  </section>
</main>
