@import './utils/spacings';

:root {
  --bg-color: #050718;
  --main-text-color: rgb(255, 242, 255);
  --grey: rgba(255, 242, 255, 0.78);
  --faded: rgba(255, 242, 255, 0.46);
  --blush: rgb(238, 129, 144);
  --terminal-blue: rgb(17, 48, 142);
  --terminal-red: rgb(169, 53, 52);

  --white: rgba(255, 255, 255, 1);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.15);

  --text: rgba(255, 255, 255, 1);
  --text-inactive: rgba(255, 255, 255, 0.6);
  --header: rgba(255, 255, 255, 0.8);

  --blue: rgba(168, 224, 255, 1);
  --blue-10: rgba(168, 224, 255, 0.1);
  --blue-20: rgba(168, 224, 255, 0.2);
  --blue-60: rgba(168, 224, 255, 0.6);
  --blue-80: rgba(168, 224, 255, 0.8);

  --purple: #ec22f8;
  --purple-10: rgba(144, 70, 207, 0.1);
  --purple-20: rgba(144, 70, 207, 0.2);
  --purple-60: rgba(144, 70, 207, 0.6);
  --purple-80: rgba(144, 70, 207, 0.8);

  --pink: #CC59D2;

  --alphyx-icon: url("./assets/images/alphyx_headshot.png");

  font-size: 20px;
  font-family: JetBrains Mono, monospace;
}

$colors: 'blue', 'purple', 'pink', 'blush', 'faded', 'grey', 'terminal-red', 'terminal-blue';

@each $color in $colors {
  .#{$color}-text {
    color: var(--#{$color});
  }
}

* {
  box-sizing: border-box;
}

*::selection {
  color: var(--bg-color);
  background: var(--purple);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  color: var(--text);
  background-color: var(--bg-color);
}


@keyframes blink {
  0% {
    opacity: 0;
  }
}

a {
  color: var(--blush);

  transition: all 0.2s;

  &:hover {
    color: var(--blue);
  }
}

h1 {
  font-size: clamp(34px, 4vw, 62px);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

.m-auto {
  margin: auto;
}

.logo {
  height: 75px;
  width: 75px;
}

.flex-wrap {
  flex-wrap: wrap;
}
