@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
@import './utils/spacings';

:root {
  --bg-color: #0D0630;
  --main-text-color: #FFF2FF;
  --grey: #fff2ffc7;
  --faded: #fff2ff75;
  --blush: #EE8190;
  --blue: #A8E0FF;
  --terminal-blue: #11308E;
  --terminal-red: #a93534;
  --purple: #9046CF;
  --pink: #CC59D2;

  --alphyx-icon: url("./assets/images/alphyx_headshot.png");

  font-size: 32px;
  font-family: 'Inconsolata', monospace;
}

$colors: 'blue', 'purple', 'pink', 'blush', 'faded', 'grey', 'terminal-red', 'terminal-blue';

@each $color in $colors {
  .#{$color}-text {
    color: var(--#{$color});
  }
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  color: var(--main-text-color);
  background-color: var(--bg-color);
}


@keyframes blink {
  0% {
    opacity: 0;
  }
}

a {
  color: var(--blush);

  transition: all 0.2s;
  &:hover {
    color: var(--blue);
  }
}

h1 {
  font-size: clamp(34px, 4vw, 62px);
}

p {
  font-size: clamp(20px, 2vw, 24px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

.m-auto {
  margin: auto;
}

.logo {
  height: 75px;
  width: 75px;
}
